<!DOCTYPE>
<html>
  <head>
    <title>Chat Room</title>
    <script src="./js/jquery-1.12.3.min.js"></script>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
body{
	margin-top:5px;
}
</style>
</head>
  <body>
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
    		<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">User</h3>
				  </div>
				  <div class="panel-body">
				    <div class="list-group">
					 <a href="#" class="list-group-item">Hello，<span id="user"></span></a>
					 <a href="logout" class="list-group-item">Logout</a>
					</div>
				  </div>
				</div>
    			<div class="panel panel-primary" id="online">
				  <div class="panel-heading">
				    <h3 class="panel-title">Other online users</h3>
				  </div>
				  <div class="panel-body">
				    <div class="list-group" id="users">
					</div>
				  </div>
				</div>
				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Broadcast</h3>
				  </div>
				  <div class="panel-body">
					  <input type="text" class="form-control"  id="msg" /><br>
					  <button id="broadcast" type="button" class="btn btn-primary">Send</button>
				  </div>
				</div>
    		</div>
  			<div class="col-md-9">
  				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title" id="talktitle"></h3>
				  </div>
				  <div class="panel-body">
				    <div class="well" id="log-container" style="height:400px;overflow-y:scroll">
				    
				    </div>
				    	<input type="text" id="myinfo" class="form-control col-md-12" />
				    	<button id="send" type="button" class="btn btn-primary">Send</button><br><br>
					  	<input type="file" id="fileInput" name="file" required>
					  	<button id="sendfile" type="button" class="btn btn-primary">Upload A File</button>
				    </div>
				</div>
  			</div>
    	</div>
    </div> 
<script>
Date.prototype.format = function(fmt) { 
     var o = { 
        "M+" : this.getMonth()+1,                 //Month
        "d+" : this.getDate(),                    //Day
        "h+" : this.getHours(),                   //Hour
        "m+" : this.getMinutes(),                 //Min
        "s+" : this.getSeconds(),                 //Sec
        "q+" : Math.floor((this.getMonth()+3)/3), //Season
        "S"  : this.getMilliseconds()             //Milli-sec
    }; 
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt; 
}


    $(document).ready(function() {
    	var user;
    	var uid;
	    var websocket;
    	$.get("/currentuser",function(data){
    		user = data.name;
    		uid = data.uid;
    		$("#user").html(user);
    		
	        if ('WebSocket' in window) {
				//Websocket URL
				websocket = new WebSocket("ws://localhost:8080/webSocket/"+user);
				//websocket = new WebSocket("wss://localhost:8080/webSocket/"+user);
			}
			websocket.onmessage = function(event) {
	       	 var data=JSON.parse(event.data);
	            if(data.to==0){//Online message
	            	if(data.text!=user)
	            	{	
	            		$("#users").append('<a href="#" onclick="talk(this)" class="list-group-item">'+data.text+'</a>');
	            		alert(data.text + "is offline");
	            	}
	            }else if(data.to==-2){//Offline message
	            	if(data.text!=user)
	            	{	
	            		$("#users > a").remove(":contains('"+data.text+"')");
	            		alert(data.text + "is offline");
	            	}
	            }else {
	            	// Common message
		            // Receive the real-time message from the server and add it to the HTML page
					if (data.files) {
						const UpdatedURL = data.files;
						const fileName = UpdatedURL.split('/').pop();
						const fileExtension = fileName.split('.').pop().toLowerCase();
						// Defines file types that support direct rendering in HTML
						const imageExtensions = ['png', 'jpg', 'jpeg', 'gif'];

						// Decide what to do according to the file type
						if (imageExtensions.includes(fileExtension)) {
							// If the file type is image, use <img>
							$("#log-container").append("<div class='bg-info'><label class='text-danger'>" + data.from +"&nbsp;" + data.date + '</label><br><img src=\"' + data.files + '\" alt=\"Image\" style=\"max-width:60%;\">' + "</div><br>");
						} else {
							// Other types
							$("#log-container").append(
									"<div class='bg-info'>" +
									"<label class='text-info'>Me&nbsp;" +
									new Date().format("yyyy-MM-dd hh:mm:ss") +
									"</label>" +
									"<div class='text-danger'>" +
									"<a href='" + data.files + "' target='_blank'>" + // Add <a> and url to open the file
									"<svg xmlns='http://www.w3.org/2000/svg' width='8%' height='8%' viewBox='0 0 1024 1024'>" +
									"<path d='M834.303 352.752L624.215 142.571c-5.588-5.208-12.83-8.648-20.833-8.648H259.056c-21.565 0-40.904 9.022-54.85 23.243-14.498 14.036-23.056 33.466-23.056 54.664v600.251c0 21.287 8.558 41.085 23.056 55.305 13.945 14.046 33.472 22.691 54.85 22.691h505.716c20.813 0 40.343-8.646 54.475-22.501l0.735-0.19v-0.176c14.132-14.506 22.868-33.842 22.868-55.129v-438.32c0-7.62-2.967-14.87-8.547-21.009z m-213.446-130.98l134.247 134.241H652.102c-8.557 0-16.363-3.538-21.758-9.301l-0.75-0.74c-5.379-5.396-8.736-13.204-8.736-21.29v-102.91z m163.8 590.309c0 5.39-2.04 10.318-5.757 14.037-3.728 3.902-8.555 5.761-14.129 5.761H259.056c-5.395 0-10.229-1.858-13.944-5.761-3.53-3.719-5.763-8.647-5.763-14.037V211.83c0-5.12 2.232-10.139 5.763-13.766 3.716-3.716 8.55-6.037 13.944-6.037h326.659v132.655c0 17.573 7.254 33.375 18.599 45.549l1.302 1.307c11.72 12.175 28.447 19.33 46.486 19.33h132.556v421.213z' fill='currentColor'/>" +
									"</svg>" +
									"</a>" +
									"<br>" +
									data.text +
									"</div>" +
									"</div><br>"
							);
						}
					}else{
		            	$("#log-container").append("<div class='bg-info'><label class='text-danger'>"+data.from+"&nbsp;"+data.date+"</label><div class='text-success'>"+data.text+"</div></div><br>");
					}
					// Scroll the page to bottom
		            scrollToBottom();
	            }
	        };
	        
	        $.post("/onlineusers?currentuser="+user,function(data){
    		for(var i=0;i<data.length;i++)
    			$("#users").append('<a href="#" onclick="talk(this)" class="list-group-item">'+data[i]+'</a>');
    		});
    	
    	});


        $("#broadcast").click(function(){
        	var data = {};
			data["from"] = "Anonymous";
			data["to"] = -1;
			data["text"] = $("#msg").val();
			websocket.send(JSON.stringify(data));
        });
        
        $("#send").click(function() {
        	if ($("body").data("to")==undefined) {
        		alert("Please choose whom to chat with.");
        		return false;
        	}
			var data = {};
			data["from"] = user;
			data["to"] = $("body").data("to");
			data["text"] = $("#myinfo").val();
			websocket.send(JSON.stringify(data));
			$("#log-container").append("<div class='bg-success'><label class='text-info'>Me&nbsp;" + new Date().format("yyyy-MM-dd hh:mm:ss") + "</label><div class='text-info'>" + $("#myinfo").val() + "</div></div><br>");
			scrollToBottom();
			$("#myinfo").val("");
		});
		// File uploader event listener
		$("#sendfile").click(function() {
			if ($("body").data("to")==undefined) {
				alert("Please choose whom to chat with.");
				return false;
			}
			var file = document.getElementById('fileInput').files[0];
			if (!file) {
				alert("Please choose a file.");
				return;
			}
			var formData = new FormData();
			formData.append('file', file);
			formData.append('username', user);
			// Upload file and get the URL
			$.ajax({
				url: '/upload',
				type: 'POST',
				data: formData,
				processData: false,
				contentType: false,
				success: function(responsedata) {
					var fileUrl = responsedata; // Get URL
					// Constructs a message with a file URL
					var message = {
						from: user,
						to: $("body").data("to"),
						text: file.name,
						files: fileUrl
					};
					const UpdatedURL = message.files;
					const fileName = UpdatedURL.split('/').pop();
					const fileExtension = fileName.split('.').pop().toLowerCase();

					// Defines file types that support direct rendering in HTML
					const imageExtensions = ['png', 'jpg', 'jpeg', 'gif'];

					// Decide what to do according to the file type
					if (imageExtensions.includes(fileExtension)) {
						// If it is a picture, use the < img > tag to render
						$("#log-container").append("<div class='bg-success'><label class='text-info'>我&nbsp;" + new Date().format("yyyy-MM-dd hh:mm:ss") + '</label><br><img src=\"' + fileUrl + '\" alt=\"Image\" style=\"max-width:60%;\">' +"</div><br>");
					} else {
						// Other file types, provide download links
						$("#log-container").append(
								"<div class='bg-success'>" +
								"<label class='text-info'>Me&nbsp;" +
								new Date().format("yyyy-MM-dd hh:mm:ss") +
								"</label>" +
								"<div class='text-info'>" +
								"<a href='" + fileUrl + "' target='_blank'>" +
								"<svg xmlns='http://www.w3.org/2000/svg' width='8%' height='8%' viewBox='0 0 1024 1024'>" +
								"<path d='M834.303 352.752L624.215 142.571c-5.588-5.208-12.83-8.648-20.833-8.648H259.056c-21.565 0-40.904 9.022-54.85 23.243-14.498 14.036-23.056 33.466-23.056 54.664v600.251c0 21.287 8.558 41.085 23.056 55.305 13.945 14.046 33.472 22.691 54.85 22.691h505.716c20.813 0 40.343-8.646 54.475-22.501l0.735-0.19v-0.176c14.132-14.506 22.868-33.842 22.868-55.129v-438.32c0-7.62-2.967-14.87-8.547-21.009z m-213.446-130.98l134.247 134.241H652.102c-8.557 0-16.363-3.538-21.758-9.301l-0.75-0.74c-5.379-5.396-8.736-13.204-8.736-21.29v-102.91z m163.8 590.309c0 5.39-2.04 10.318-5.757 14.037-3.728 3.902-8.555 5.761-14.129 5.761H259.056c-5.395 0-10.229-1.858-13.944-5.761-3.53-3.719-5.763-8.647-5.763-14.037V211.83c0-5.12 2.232-10.139 5.763-13.766 3.716-3.716 8.55-6.037 13.944-6.037h326.659v132.655c0 17.573 7.254 33.375 18.599 45.549l1.302 1.307c11.72 12.175 28.447 19.33 46.486 19.33h132.556v421.213z' fill='currentColor'/>" +
								"</svg>" +
								"</a>" +
								"<br>"+
								 file.name+
								"</div>" +
								"</div><br>"
						);
					}
					websocket.send(JSON.stringify(message));
					scrollToBottom();
				},
				error: function(xhr, status, error) {
					console.error("Upload fail:", error);
				}
			});
		});


	});
   
   function talk(a){
   	$("#talktitle").text("Chat with "+a.innerHTML);
   	$("body").data("to",a.innerHTML);
   }
   function scrollToBottom(){
		var div = document.getElementById('log-container');
		div.scrollTop = div.scrollHeight;
	}
</script>    
    
  </body>
</html>
